@import 'global.css';
body{
	background-color: var(--orange);
}
header{
	position: relative;
	top: 0px;
	left: 0px;
	padding: 5px;
	text-align: center;
	width: 100%;
	font-weight: lighter;
}
h1{
	padding: 20px 0px 10px 0px;
}
h2{
	color: #222222;
}
.container{
	position: relative;
	width: 100%;
	height: 500px;
}
form{
	background-color: white;
	color: #222222;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 15px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	padding: 10px;
}
.form-login{
	width: 30%;
}

.container fieldset{
	padding: 15px 0px;
	border: none;
}
.form-login label{
	color: rgba(0,0,0,0.5);
	display: block;
	margin: 0 auto;
	width: 80%;
	font-size: 20px;
	padding: 5px 0;
}
.form-login input, #entrar{
	color: #222222;
	border: 1px solid var(--shadow-orange);
	margin: 0 auto 10px auto;
	width: 80%;
	display: block;
	padding: 10px 5px; 
	font-size: 18px;
	border-radius: 10px;
	outline: none;
}
#entrar{
	background-color: var(--verde-2);
	color: var(--branco);

}
#entrar:hover{
	opacity: 0.9;
	transition: 0.7s ease-out;
}
legend{
	padding: 15px 0px;
	text-align: center;
	font-size: 25px;
}
.form-login .forgot{
	display: block;
	margin: 0 auto;
	width: 80%;
	text-align: right;
	padding-bottom: 10px;
}
.form-login p{
	margin: 5px auto;
	width: 80%;
	text-align: right;
}
.form-login a{
	color: rgb(100,100,240);
}
input{
	color: var(--orange);
}
input:focus{
	transition: .5s ease-in;
	border: 1px solid var(--verde-2);
	box-shadow: 1px 1px 9px var(--shadow-orange);
}
select{
	padding: 5px 3px;
	font-size: 14px;
}
/*secao de cadastro*/
.form-cadastro{
	top: 50%;
	width: 50%;
}

.form-cadastro .box label{
	color: var(--white);
	display: inline-block;
	width: 150px; 
	text-align: right;
}
.form-cadastro .box input{
	display: inline-block;
	padding: 10px; 
	margin: 5px auto;
	width: 60%;
	font-size: 15px;
	border-radius: 10px;
	outline: none;
	border: 1px solid var(--orange);
}
.box-1 .lbl{
	width: 480px;
}
.dados{
	padding: 10px 0px;
}
/*
.dados-3{
	display: block;
	margin: 10px auto;
	width: 88%;
}*/
.tipo{
	margin-left: 10px;
	display: inline-block;
}
.tipo select{
	display: block;
}
.genero{
	text-align: center;
	display: inline-block;
	margin-left: 10px;
}
.genero label{
	color: var(--white);
	display: inline-block;
}
.genero input{
	margin: 0 auto;
}
#endereco{
	width: 55%;
}
#codigo{
	width: 35%;
}
.form-footer{
	position: relative;
	height: 48px;
	padding: 5px;
}
.form-footer p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}
.form-footer a{
	color: var(--white);
	display: inline-block;
	padding: 5px;
}
.form-footer .a-ativo{
	color: var(--verde-2);
	font-weight: bold;
}
.btn{
	position: absolute;
	right: 0px;
	display: block;
	width: 150px;
	padding: 10px;
	text-align: center;
	background-color: var(--orange);
	color: var(--white);
	cursor: pointer;
	border: none;
	border-radius: 15px;
	font-size: 14px;
	font-weight: bold;
}
/*
#nomeUser{
	width: 65%; 
}
#email{
	width: 75%;
}
#senha{
	width: 60%;
}*/
#telefone{
	width: 45%;
}
#escolaridade{
	width: 50%;
}

.box-dados-user{
	width: 300px;
	margin-left: 10px;
	justify-content: space-between;
}
.box-dados-user label{
	color: var(--white);
	padding-top: 10px;
}
.box-dados-user input{
	display: block;
	margin-bottom: 5px;
	padding: 10px 5px;
	font-size: 15px;
	border-radius: 10px;
	outline: none;
	border: 1px solid green;
}
#lbl-foto{
	background: rgba(0,0,0,0.5);
	display: inline-block;
	width: 100px;
	padding: 10px;
	height: 100px;
	border-radius: 15px;
	border: 3px dashed var(--white);
	cursor: pointer;
}
#lbl-desc{
	display: block;
	width: 80%;
	margin: 10px auto 2px auto;
	padding: 10px;
	text-align: center;
	font-weight: bolder;
	font-size: 16px;
	color: var(--verde-2);
}
textarea{
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 150px;
	padding: 10px 5px;
	border: none;
	outline: none;
}
textarea{
	outline: 1px solid green;
}
#foto{
	display: none;
}

footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 5px;
	text-align: center;
	color: var(--verde-2);
	justify-content: space-between;
}
footer li{
	margin: 0px auto;
}
footer ul a{
	color: var(--verde-2);
	display: block;
	width: 150px;
	text-align: center;
	padding: 5px;
	text-decoration: underline;
	font-weight: lighter;
	font-size: 14px;
}
/*classes de visibilidade*/
.oculto{
	display: none;
}
.mostra{
	display: block;
}