<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
	<meta name="description" content="bem vindo a interface principal de um gestor de projetos no sistema">
	<link rel="stylesheet" href="../res/css/home.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tela inicial</title>
</head>
<body>
	<header>
		<figure>
			<a loading="lazy" href="manager-index.html">
				<figure>
					<img src="../../res/img/icones/home.png">
				</figure>
			</a>
		</figure>
		<nav>
			<ul>
				<li>
					<form action="" method="get">
						<input type="search" id="busca" name="busca">
						<figure><img loading="lazy" id="lupa" name="lupa" src="../../res/img/icones/lupa.png"></figure>
					</form>
				</li>
				<li><a href="perfil.html">
					<figure>
						<img src="../../res/img/icones/user.png">
						<figcaption>usuario</figcaption>
					</figure>
				</a></li>
			</ul>
		</nav>
	</header>
	<section class="container flex-row center">
		<section class="aside">
			<ul>
				<li><a href="manager-index.html">Pagina Inicial</a></li>
				<li><a href="">Conversas</a></li>
				<li><a href="">Forum</a></li>
				<li><a href="">configurações</a></li>
			</ul>
		</section>
		<main class="content center">
			<h1>Area de Trabalho</h1>
			<article>
				<figure><img src=""></figure>
				<a href="team.html">Equipe</a>
			</article>
			<div>
				<button>+</button>
				<p>criar projecto</p>
			</div>
		</main>
		<section class="conversas">
			<h2>Minhas Conversas</h2>
			<div>
				<figure><img src=""></figure>
				<p>usuario</p>
				<p>mensagem</p>
			</div>
		</section>
		<section class="notificacoes">
			<h2>Notificações</h2>
			<div>
				<figure><img alt="figura de atenção para indicar uma notificação do tipo erro" src=""></figure>
				<p>categoria</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...
			</div>
		</section>
	</section>
</body>
</html>