<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
	<meta name="description" content="bem vindo a interface de tarefas do gestor e sua equipe">
	<title>Tarefas</title>
	<link type="text/css" rel="stylesheet" href="../../res/css/taskes.css">
</head>
<body>
	<header>
		<figure>
			<a loading="lazy" href="manager-index.html">
				<figure>
					<img src="../../res/img/icones/home.png">
				</figure>
			</a>
		</figure>
		<section class="sup-header flex-row center">
		<nav>
			<ul>
				<li>
					<form action="" method="get">
						<input type="search" id="busca" name="busca">
						<figure><img loading="lazy" id="lupa" name="lupa" src="../../res/img/icones/lupa.png"></figure>
					</form>
				</li>
				<li><a href="perfil.html">
					<figure>
						<img src="../../res/img/icones/user.png">
						<figcaption>usuario</figcaption>
					</figure>
				</a></li>
			</ul>
		</nav>
		</section>
		<section class="sub-header">
			<nav>
				<ul>
					<li><a href="manager-index.html">Perfil do Projecto</a></li>
					<li><a href="project.html">Projectos</a></li>
					<li><a class="view" href="taskes.html">Tarefas</a></li>
					<li><a href="">chat</a></li>
					<li><a href="">termiar sessao</a></li>
				</ul>
			</nav>
		</section>
	</header>
</body>
</html>