<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
	<meta name="description" content="bem vindo a interface principal de um gestor de projetos no sistema">
	<title>conta de gestor</title>
	<link type="text/css" rel="stylesheet" href="../res/css/home.css">
</head>
<body>
	<header class="flex-row">
		<ul class="consideracoes">
			<li class="proge">Progestão</li>
			<li>para a universidade de Artes</li>
		</ul>
		<ul class="header-right">
			<li><a href="">
				<figure><img loading="lazy" src="../res/img/icones/notify.png"></figure>
			</a></li>
			<li><a href="">
				<figure><img loading="lazy" src="../res/img/icones/chat@50.png"></figure>
			</a></li>
			<li class="foto-user"><a href="">
				<figure>
					<img loading="lazy" src="../res/img/icones/user-admin.png">
					<figcaption>nome do usuario</figcaption>
				</figure>
			</a></li>
		</ul>
	</header>
	<section class="container flex-row">
		<section class="aside"> 
			<nav>
				<ul class="menu-header">
					<li><a href="#">
						<figure>
							<img loading="lazy" src="../res/img/icones/home.png">
							<figcaption>Pagina inicial</figcaption>
						</figure>
					</a></li>
					<li><a href="#">
						<figure>
							<img loading="lazy" src="">
							<figcaption>dashboard</figcaption>
						</figure>
					</a></li>
					<li><a href="#">
						<figure>
							<img loading="lazy" src="">
							<figcaption>team</figcaption>
						</figure>
					</a></li>
					<li><a href="#">
						<figure>
							<img loading="lazy" src="">
							<figcaption>Projectos</figcaption>
						</figure>
					</a></li>
					<li><a href="#">
						<figure>
							<img loading="lazy" src="../res/img/icones/chat@50.png">
							<figcaption>conversas</figcaption>
						</figure>
					</a></li>
					<li><a href="#">
						<figure>
							<img loading="lazy" src="../res/img/icones/notify.png">
							<figcaption>notificções</figcaption>
						</figure>
					</a></li>
					<li><a href="#">
						<figure>
							<img loading="lazy" src="">
							<figcaption>Forum</figcaption>
						</figure>
					</a></li>
					<li><a href="#">
						<figure>
							<img loading="lazy" src="../img/icones/user-logout.png">
							<figcaption>encerrar</figcaption>
						</figure>
					</a></li>
				</ul>
			</nav>
		</section>
		<section class="container">
			<section class="ranking">
				<section class="ranking flex-column center just-b">
				<article>
					<h3>Minhas team</h3>
					<p>0</p>
				</article>
				<article>
					<h3>Projectos</h3>
					<p>0</p>
				</article>
				<article>
					<h3>Projectos cocluidos</h3>
					<p>0</p>
				</article>
				<article>
					<h3>Estudantes</h3>
					<p>0</p>
				</article>
			</section>
		</section>
	</section>
</body>
</html>